.orangeButton {
    background-color:#f9943b !important;
    border-color: #f9943b !important;
    color:#000 !important;
    width: 220px;
    height: 90px;
    float:left;
    margin:32px;

}

h1{
    text-align: center;
}

#localite{
    display: flex;
    flex-wrap: wrap;
} 

.button{
    width: 220px;
    height: 90px;
}

#formBasicUsername, #formBasicPassword, .formInput{
    height: 60px;
    font-size: larger;
}

label{
    font-size: large;
}

.sideToSide {
    display: flex;
}

.alignment {
    text-align: center;
}

#corps{
    position: center;
}

#dropdown-basic {
    width: 250px;
    height: 90px;
    float:left;
    margin:32px;
}