.orangeButton {
    background-color:#f9943b !important;
    border-color: #f9943b !important;
    color:#000 !important;
    width: 250px;
    height: 90px;
    float:left;
    margin:32px;

}

h1{
    text-align: center;
}

#localite{
    display: flex;
    flex-wrap: wrap;
} 

#inscription{
    width: 250px;
    height: 90px;
}